<html>
  <head>
    <title>Entered Tweet Result</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <center>
    <h1>Sentiment Analysis Result</h1>
    <h3>Text : </h3>
    <h2 style="margin-left: 2%;">"{{userEnteredText}}"</h2>
    <br/>
    <h3>Sentiment : </h3>
    <h2 style="margin-left: 2%;">{{predictedSentiment}}</h2>
    <br/><br/>
    <form action="/">
      <input type="submit" class="btn" value=" HOME "/>
    </form>
  </center>
  </body>
</html>
