<html>
	<head>
		<title>B3 Mini Project</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
		<center>
    	<h1>TWITTER SENTIMENT ANALYSIS</h1>
		<h3>Sentiment Analysis Of A Twitter User</h3>
		<form action="/fetchedTweets" method="post">
			<input type="text" class="form-control" name="uname" placeholder=" Enter username">
			<br/><br/>
			<input type="number" class="form-control" name="num" placeholder=" Enter number of tweets">
			<br/><br/>
			<input type="submit" class="btn" value=" PREDICT "/>
		</form>
		
		<img class="twitterimg" width="20%" height="50%" src="{{url_for('static',filename = 'Twitter_bird.jpg')}}" >

		<h3>Manual Tweet Analysis</h3>
		<form action="/manualTweet" method="post">
		    <textarea type="text" class="form-control" name="enteredTweet" placeholder=" Enter a Tweet here" cols="50" rows="5"></textarea>
			<br/><br/>
			<input type="submit" class="btn" value=" PREDICT "/>
		</form>
		<h4>SEM-V PROJECT </h4>
		<p>CHETAN CHAUDHARI (A-61)</p>


	</center>
	</body>
</html>
